@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
// 400, 500, 700

@import 'styles/variables';
@import 'styles/header';
@import 'styles/ratings';
@import 'styles/reviews';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/bg-pattern-top-mobile.svg) no-repeat top left, url(images/bg-pattern-bottom-mobile.svg) no-repeat bottom right;
    font-family: $font-spartan;
}

@media screen and (min-width: 1440px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg) no-repeat, url(images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
        min-height: 100vh;
        font-size: 15px;

        display: flex;
        flex-wrap: wrap;
        padding: 5em;
    }
    header {
        width: 50%;
    }
    .ratings {
        width: 50%;
    }
}