header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin-top: 10vh;

    text-align: center;
    h1 {
        color: $clr-dark-magenta;
        font-weight: 700;
        font-size: 1.7em;

        width: 70%;
    }
    p {
        margin-top: 5%;
        
        color: $clr-greyish-magenta;
        font-weight: 500;
        width: 90%;
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1440px) {
    header {
    }
}