.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    width: 100%;
    padding-top: 10%;
    .rating-card {
        width: 90%;
        background-color: $clr-light-magenta;
        padding: 1em 2em;
        text-align: center;
        font-weight: 700;
        color: $clr-dark-magenta;
        font-size: 0.9em;
        border-radius: 0.5em;
        .stars {
            padding-bottom: 4%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .ratings {
        padding-top: 0;
        gap: 1.5em;
        justify-content: center;
        align-items: flex-start;
        .rating-card {
            display: flex;
            align-items: center;
            width: 80%;
            gap: 2em;
            .stars {
                padding: 0;
            }
        }
        .rating-card:nth-child(2) {
            margin-left: 10%;
        }
        .rating-card:last-child {
            margin-left: 20%;
        }
    }
}