$font-spartan: 'Spartan', sans-serif;

// Primary Colors
$clr-dark-magenta: hsl(300, 43%, 22%);
$clr-soft-pink: hsl(333, 80%, 67%);

// Neutral Colors
$clr-greyish-magenta: hsl(303, 10%, 53%);
$clr-light-magenta: hsl(300, 24%, 96%);
$clr-white: hsl(0, 0%, 100%);